@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700|Old+Standard+TT:400,400i);

/* Desktop CSS 
   Tim Bowman
   GIT 414
*/

/*
Colors:
white
orange: rgb(255, 133, 31)
blue: rgb(0, 179, 197)
grey: rgb(134, 134, 135)
*/

/* -------------------------------------------------------------------
                                                CSS reset      
*/
/* Big thanks to Eric Meyer for the CSS reset. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS reset ends here. */



/*
Type usage:
font-family: 'Roboto Slab', serif;
font-family: 'Old Standard TT', serif;
*/


/* -------------------------------------------------------------------
----------------------------------------------------------------------
                                                Global Styles       
*/
body {
    color: rgb(134, 134, 135);
    background-color: white;
    font-family: 'Old Standard TT', serif;
    line-height: 1.3em;
    min-width: 320px;
}
a:link {
    color: rgb(134, 134, 135)
}
a:focus {
    color: rgb(255, 133, 31);
}
a:active {
    color: rgb(0, 179, 197);
}
a:visited {
    color: rgb(134, 134, 135);
}
a:hover {
    color: rgb(255, 133, 31);
}
h2, h3 {
    font-family: 'Roboto Slab', serif;
    color: rgb(0, 179, 197);
}

/* Hide main section headers */
nav > h2, 
#intro > h2,
#projects > h2,
#about > h2,
#socialMedia > h2,
#legal >h2 {
    position: absolute;
    text-indent: -9999px;
    text-align: left;    
}

/* -------------------------------------------------------------------
                                                Header       
*/
header {
    font-family: 'Old Standard TT', serif;
    line-height: 1.3em;
    background: white;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
header img {
    width: 38px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header > h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
header > h1 > span {
    font-family: 'Old Standard TT', serif;
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
}
header > p {
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
}
header a {
    text-decoration: none; 
}
#contact {
    font-size: 0.75em;
    line-height: 1.3em;
    margin-top: 0.5em;
    font-style: italic;
}
#contact ul {
    text-align: center;
}
#contact li {
    text-align: center;
}

/* -------------------------------------------------------------------
                                                Navigation       
*/
nav {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    text-transform: lowercase;
    font-size: 0.75em;
    line-height: 1.3em;
    background: rgb(244, 244, 244);
    padding-top: 0.3em;
    padding-bottom: 0.4em;
}
nav ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav li {
    display: inline;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
nav a {
    text-decoration: none;
}
nav a:link {
    color: rgb(134, 134, 135);
}
nav a:focus {
    color: rgb(255, 133, 31);
}
nav a:active {
    color: rgb(0, 179, 197);
}
nav a:visited {
    color: rgb(134, 134, 135);
}
nav a:hover {
    color: rgb(255, 133, 31);
}


/* -------------------------------------------------------------------
                                                Intro       
*/
#intro {
    font-family: 'Roboto Slab', serif;
    line-height: 1.2em;
    color: white;
    background: rgb(0, 179, 197);
    padding: 1em;
    padding-bottom: 1.5em;
}
#intro p {
    text-align: center;
}
/* -------------------------------------------------------------------
                                                Projects       
*/
#projects {
    background: white;
    padding-top: 0.25em;
    padding-bottom: 1em;
}
#projects h2 {
    /* Individual project headers */
    font-family: 'Roboto Slab', serif;
    margin-top: 0.125em;
    margin-bottom: 1em;
    color: inherit;
}
#projects section {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2em;
}

#projects img {
    vertical-align: text-bottom;
    max-width: 100%;
    height: auto;
    margin-bottom: 0.15em;
}
#projects img:last-of-type {
    margin-bottom: 0;
}
#projects a {
    text-decoration: none; 
    color: rgb(0, 179, 197);
}
#projects a:hover {
    color: rgb(255, 133, 31);
}


/* -------------------------------------------------------------------
                                                Project (singlular!)       
*/
#project {
    background: white;
    padding-top: 1em;
    padding-bottom: 2em;
}
#project img, iframe, video {
    vertical-align: text-bottom;
    width: 100%;
    height: auto;
    margin-bottom: 0.15em;
}
/*#project img:last-of-type, iframe:last-of-type, video:last-of-type {
    margin-bottom: 0;
}*/
#project h2 {
    font-family: 'Roboto Slab', serif;
    line-height: 1.2em;
    color: rgb(0, 179, 197);
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}
#project p, #project ul {
    font-size: 0.9em;
    line-height: 1.3em;
    margin-left: 1em;
    margin-right: 1em;
}
#project p.subhead {
    font-size: 0.7em;
    margin-left: 1.43em;
    margin-right: 1.43em;
    font-style: italic;
    margin-bottom: 8px;
}

#project p:not(.subhead), #project ul {
    text-indent: 1.25em;
}
#project ul {
    margin-top: 0.5em;
}

/* -------------------------------------------------------------------
                                                About       
*/
#about {
    /*font-family: 'Old Standard TT', serif;*/
    font-size: 0.7em;
    line-height: 1.3em;
    background: white;
    padding-bottom: 2em;
}
#about h2, #about h3 {
    margin: 1em;
    margin-bottom: 0.5em;
}
#about img {
    vertical-align: text-bottom;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
#about p {
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    text-indent: 2em;
}
#about p.toolbox {
    text-indent: 0;
    margin-bottom: 1em;
}


/* -------------------------------------------------------------------

                                                Social Media       
*/
#socialMedia {
    background-color: rgb(0, 179, 197);
}
#socialMedia img {
    vertical-align: middle;
}
#socialMedia ul {
    padding: 1em;
}
#socialMedia li {
    display: inline-block;
}
/* Using Scott Kellum method for replaceing text with images
https://css-tricks.com/examples/ImageReplacement/#kellum */
#socialMedia a[href*="twitter"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/twitter-bg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="twitter"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/twitter-bg.png") no-repeat;
}
#socialMedia a[href*="instagram"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/instagram-bg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="instagram"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/instagram-bg.png") no-repeat;
}
#socialMedia a[href*="imdb"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/imdb-bg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="tumblr"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/tumblr-bg.png") no-repeat;
}
#socialMedia a[href*="tumblr"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/tumblr-bg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="imdb"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/imdb-bg.png") no-repeat;
}
#socialMedia a[href*="linkedin"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/linkedin-bg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="linkedin"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/linkedin-bg.png") no-repeat;
}
#socialMedia a[href*="github"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/github-bg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="github"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/github-bg.png") no-repeat;
}

/* -------------------------------------------------------------------

                                                Footer       
*/


footer {
    color: white;
    background-color: rgb(0, 179, 197);
    font-family: 'Old Standard TT', serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 5em;
    /* clearfix: https://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best */
    content: "";
    display: table;
    clear: both;
    width: 100%;
}
#legal {
    font-size: 0.55em;
    line-height: 1.3em;
}
#legal a {
    color: white;
}
#legal a:hover {
    color: rgb(255, 133, 31)
}
#legal a:active {
    color: rgb(255, 133, 31)
}
#legal a:visited {
    color: white;
    outline: 1px solid red;
}



.textOnly {
    position: absolute;
    text-indent: -9999px;
    text-align: left;
}


/* -------------------------------------------------------------------
----------------------------------------------------------------------
                                                Wide mobile       
*/
@media only screen and (min-width: 448px) {

#about {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}
}


/* -------------------------------------------------------------------
----------------------------------------------------------------------
                                                Narrow desktop       
*/
@media only screen and (min-width: 736px) {

body {
    font-size: 120%;
    text-align: left;
    }
header {
    float: left;
    clear: both;
    padding: 0;
    padding-top: 98px;
}
header img {
    width: auto;
    height: auto;
    position: fixed;
    left: 64px;
    top: 48px;
}
header > h1 {
  margin-left: 180px;
  margin-top: 98px;
  display: inline;
}
header > p {
  margin-left: 0.33em;
  margin-top: 98px;
  display: inline;
}
#contact {
    text-align: left;
    font-size: initial;
    line-height: 0.5em;
    margin-left: 180px;
}
#contact ul {
    text-align: left;
}
#contact li {
    text-align: left;
    display: inline;
}

nav {
    width: 76px;
    float: left;
    position: fixed;
    top: 201px;
    left: 64px;
    background-color: white;
    padding: 0;
    font-size: initial;
}
nav ul {
    text-align: right;
    width: auto;
    margin: 0;
}

section#intro {
    float: left;
    clear: both;
    width: 416px;
    margin-left: 180px;
    margin-top: 52px;
    margin-bottom: 1em;
    padding: 16px;
}

main {
    float: left;
    clear: both;
    margin-left: 180px;
    margin-bottom: 64px;
    padding: 0;
    width: 448px;
}

section#projects {
    padding: 0;
}
section#projects section {
    margin: 0;
    width: 448px;
}

section#project {
    margin-top: 52px;
    padding: 0;
}
#project iframe {
    height: 320px;
}
section#project h2,
section#project p,
section#project p.subhead {
    margin-left: 0;
    margin-right: 0;
    width: 448px;
}
section#about {
    width: 448px;
    font-size: initial;
    margin: 0;
}
section#about p {
    margin: 0;
}
section#about h2,
section#about h3 {
    margin-left: 0;
}


#socialMedia {
    position: fixed;
    top: 201px;
    left: 668px;
    background-color: white;
    padding: 0;
}
#socialMedia ul {
    padding: 0;
}
#socialMedia li {
    display: inherit;
    margin-bottom: 0.5em;
}
#socialMedia a[href*="twitter"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/twitter-fg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="twitter"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/twitter-fg.png") no-repeat;
}
#socialMedia a[href*="instagram"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/instagram-fg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="instagram"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/instagram-fg.png") no-repeat;
}
#socialMedia a[href*="imdb"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/imdb-fg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="tumblr"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/tumblr-fg.png") no-repeat;
}
#socialMedia a[href*="tumblr"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/tumblr-fg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="imdb"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/imdb-fg.png") no-repeat;
}
#socialMedia a[href*="linkedin"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/linkedin-fg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="linkedin"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/linkedin-fg.png") no-repeat;
}
#socialMedia a[href*="github"] {
    display: block;
    height: 32px;
    width: 32px;
    background: rgb(0, 179, 197) url("../gfx/social/github-fg.png") no-repeat ;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#socialMedia a[href*="github"]:hover {
     background: rgb(255, 133, 31) url("../gfx/social/github-fg.png") no-repeat;
}

footer {
    margin-left: 180px;
    width: initial;
}
}

/* -------------------------------------------------------------------
----------------------------------------------------------------------
                                                Medium desktop       
*/
@media only screen and (min-width: 1220px) {

section#intro {
    width: 904px;
}
section#intro p {
    text-align: left;
}

main {
    width: 936px;
}
section#projects {
    /* Make two columns */
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    -ms-column-count: 2; /* IE */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    -ms-column-gap: 40px; /* IE */
    column-gap: 40px;
}
section#projects section {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    padding-top: 1px; /* Fixes weird column artifact where top pixel of section appears at bottom of previous column. */
}

#project {
    max-width: 936px;
}
#project iframe {
    height: 640px;
}
#socialMedia {
    left: 1156px;
}

}


/* -------------------------------------------------------------------
----------------------------------------------------------------------
                                                Large desktop       
*/
@media only screen and (min-width: 1708px) {

main {
    width: 1424px;
}

section#projects {
    /* Make three columns */
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    -ms-column-count: 3; /* IE */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    -ms-column-gap: 40px; /* IE */
    column-gap: 40px;
}

#socialMedia {
    left: 1644px;
}

}