@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Old+Standard+TT:400,400italic);

/* Desktop CSS 
   Tim Bowman
   GIT 414
*/

/*
Colors:
white
orange: rgb(255, 133, 31)
blue: rgb(0, 179, 197)
grey: rgb(134, 134, 135)
*/

/* -------------------------------------------------------------------
                                                CSS reset      
*/
/* Big thanks to Eric Meyer for the CSS reset. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS reset ends here. */



/*
Type usage:
font-family: 'Roboto Slab', serif;
font-family: 'Old Standard TT', serif;
*/


/* -------------------------------------------------------------------
----------------------------------------------------------------------
                                                Global Styles       
*/
body {
    color: rgb(134, 134, 135);
    background-color: rgb(0, 179, 197);
    font-family: 'Old Standard TT', serif;
    line-height: 1.3em;
}
a:link {
    color: rgb(134, 134, 135)
}
a:focus {
    color: rgb(255, 133, 31);
}
a:active {
    color: rgb(0, 179, 197);
}
a:visited {
    color: rgb(134, 134, 135);
}
a:hover {
    color: rgb(255, 133, 31);
}

/* Hide main section headers */
nav > h2, 
#intro > h2,
#projects > h2,
#about > h2,
#socialMedia > h2,
#legal >h2 {
    position: absolute;
    text-indent: -9999px;
    text-align: left;    
}

/* -------------------------------------------------------------------
                                                Header       
*/
header {
    font-family: 'Old Standard TT', serif;
    line-height: 1.3em;
    background: white;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
header img {
    width: 38px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header > h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
header > p {
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
}
header a {
    text-decoration: none; 
}
#contact {
    font-size: 0.75em;
    line-height: 1.3em;
    margin-top: 0.5em;
    font-style: italic;
}
#contact li {
    text-align: center;
}

/* -------------------------------------------------------------------
                                                Navigation       
*/
nav {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    text-transform: lowercase;
    font-size: 0.75em;
    line-height: 1.3em;
    background: rgb(244, 244, 244);
    padding-top: 0.3em;
    padding-bottom: 0.4em;
}
nav ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav li {
    display: inline;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
nav a {
    text-decoration: none;
}
nav a:link {
    color: rgb(134, 134, 135);
}
nav a:focus {
    color: rgb(255, 133, 31);
}
nav a:active {
    color: rgb(0, 179, 197);
}
nav a:visited {
    color: rgb(134, 134, 135);
}
nav a:hover {
    color: rgb(255, 133, 31);
}


/* -------------------------------------------------------------------
                                                Intro       
*/
#intro {
    font-family: 'Roboto Slab', serif;
    line-height: 1.2em;
    color: white;
    background: rgb(0, 179, 197);
    padding: 1em;
    padding-bottom: 1.5em;
}
#intro p {
    text-align: center;
}
/* -------------------------------------------------------------------
                                                Projects       
*/
#projects {
    background: white;
    padding-top: 0.25em;
    padding-bottom: 1em;
}
#projects h2 {
    /* Individual project headers */
    font-family: 'Roboto Slab', serif;
    color: rgb(0, 179, 197);
    margin-top: 0.125em;
}
#projects section {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2em;
}

#projects img {
    vertical-align: text-bottom;
    max-width: 100%;
    height: auto;
}
#projects a {
    text-decoration: none; 
}


/*
section#projects p.subhead {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    margin-bottom: 8px;
}
section#projects p:not(.subhead) {
    text-indent: 1.5em;
}
section#projects ul {
    margin-top: 1em;
    margin-left: 1.5em;
}
section#projects p.tools {
    margin-top: 1em;
    text-indent: 0;
}
*/

/* -------------------------------------------------------------------
                                                Project (singlular!)       
*/
#project {
    background: white;
    padding-top: 1em;
    padding-bottom: 2em;
}
#project img, iframe, video {
    vertical-align: text-bottom;
    max-width: 100%;
    height: auto;
}

#project h2 {
    font-family: 'Roboto Slab', serif;
    line-height: 1.2em;
    color: rgb(0, 179, 197);
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}
#project p, #project ul {
    font-size: 0.9em;
    line-height: 1.3em;
    margin-left: 1em;
    margin-right: 1em;
}
#project p.subhead {
    font-size: 0.7em;
    margin-left: 1.43em;
    margin-right: 1.43em;
    font-style: italic;
    margin-bottom: 8px;
}

#project p:not(.subhead), #project ul {
    text-indent: 1.25em;
}
#project ul {
    margin-top: 0.5em;
}

/* -------------------------------------------------------------------
                                                About       
*/
#about {
    /*font-family: 'Old Standard TT', serif;*/
    font-size: 0.7em;
    line-height: 1.3em;
    background: white;
    padding-bottom: 2em;
}
#about img {
    vertical-align: text-bottom;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}
#about p {
    margin-left: 1em;
    margin-right: 1em;
    text-indent: 2em;
}


/* -------------------------------------------------------------------

                                                Social Media       
*/
#socialMedia {
}
#socialMedia img {
    vertical-align: middle;
}
#socialMedia ul {
    padding: 1em;
}
#socialMedia li {
    display: inline-block;
}
#socialMedia a {
}
#socialMedia a:link {
    background: rgb(0, 179, 197)
}
#socialMedia a:focus {
    background: rgb(255, 133, 31);
}
#socialMedia a:active {
    background: rgb(134, 134, 135);
}
#socialMedia a:visited {
    background: rgb(0, 179, 197)
}
#socialMedia a:hover {
     background: rgb(255, 133, 31);
}

/* -------------------------------------------------------------------

                                                Footer       
*/


footer {
    color: white;
    font-family: 'Old Standard TT', serif;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 5em;
}
#legal {
    font-size: 0.55em;
    line-height: 1.3em;
}
#legal a {
    color: white;
}
#legal a:hover {
    color: rgb(255, 133, 31)
}
#legal a:active {
    color: rgb(255, 133, 31)
}
#legal a:visited {
    color: white;
    outline: 1px solid red;
}



.textOnly {
    position: absolute;
    text-indent: -9999px;
    text-align: left;
}


