<header itemscope itemtype="http://schema.org/Person" id="top"> 
	<a class="textOnly" href="#content" title="Skip to content">Skip ahead to content</a>


	<a href="{{ site.url }}"><img src={{ site.url }}/gfx/TimBowman-mark-2c-sml.png width="76" height="100" alt="Tim Bowman LLC Logo"></a>

	<h1><a itemprop="url" href="{{ site.url }}"><span itemprop="name">Tim Bowman</span></a> <span itemprop="description">Visual thinker</span></h1>

	<section id="contact">
		<h2 class="textOnly">Contact</h2>
		<ul>
			<li><a href="mailto:tim@hellothisistim.com" itemprop="email">tim@hellothisistim.com</a></li>
			<li><a href="tel:+13476920839"><span itemprop="telephone">+1 (347) 692-0839</span></a></li>
		</ul>
	</section>
</header>