<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

{% include nav.html %}

<a id="content"></a>

<!--<section id="intro">
	<h2>Intro</h2>
	<p>Tim Bowman is a compositor, trouble-shooter, and image-maker. He brings his calm competence to work on feature films, television, and your next production.</p>
</section>-->


<main>
<section id="projects">
	<!-- <h2>Projects</h2> -->
	{% assign sorted = site.posts | sort: 'date' | reverse %}
	{% for item in sorted %}
		<section>
			<a href={{ item.url | relative_url }}>
			<h2>{{ item.title }}</h2>
			</a>
			<p>{{ item.date | date: "%A, %-d %B %Y" }}</p>
		</section>
	{% endfor %}
</section>


</main>

{% include social-media.html %}

{% include footer.html %}

<div class="textOnly"><a href="#top" title="Go back to the top">You have reached the bottom of the page, click here to go back to the top</a></div>

</body>
</html>
