<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

{% include nav.html %}

<a id="content"></a>

<!--<section id="intro">
	<h2>Intro</h2>
	<p>Tim Bowman is a compositor, trouble-shooter, and image-maker. He brings his calm competence to work on feature films, television, and your next production.</p>
</section>-->


<main>
<section id="projects">
	<!-- <h2>Projects</h2> -->
	{% assign sorted = site.photographs | sort: 'date' | reverse %}
	{% for item in sorted %}
		<section>
			<a href={{ item.url | relative_url }}>
			{% if item.photograph %}
				<img src=/assets/photographs/{{ item.path | split: "/" | last | split: "." | first }}/{{ item.photograph }} alt="{{ item.title }}" />
			{% elsif item.gallery %}
				<img src=/assets/photographs/{{ item.path | split: "/" | last | split: "." | first }}/{{ item.gallery[0] }} alt="{{ item.title }}" />
			{% else %}
				<h2>{{ item.title }}</h2>
			{% endif %}
			</a>
		</section>
	{% endfor %}
</section>

<section id="about">
	<h2>About</h2>
	<img src="./gfx/tim1.jpg" width="448" height="336" alt="Tim Bowman">
	<p>I trained in photography in the film era, and am coming back to darkroom photography after two decades working digitally on other peoples’ images. As a compositor for feature films and television, I merge visual elements from various sources into a cohesive whole, creating the illusion that they were photographed together. Compositing is a lot like darkroom work. We sit in dim rooms, analyzing and manipulating images, trying to figure out how to perfect our illusions. We use our knowledge of how cameras, lenses, and film work, how light falls and bounces, and how the human visual system operates. We learn something new on each project.</p>

	<p>Now I return to making my own photographs with a refined eye and a deep understanding of the manipulation made possible by digital tools. After years of creating perfection for my clients, I now revel in the flaws created by chemical processes and imperfect lenses. I choose to work in a nonstandard way specifically because of these limitations. I find myself more interested in the surface of the photograph than the subject. In the days of perfect digital reproduction, what does it mean to make darkroom photographs?</p> 
</section>

</main>

{% include social-media.html %}

{% include footer.html %}

<div class="textOnly"><a href="#top" title="Go back to the top">You have reached the bottom of the page, click here to go back to the top</a></div>

</body>
</html>
