---
layout: default
---

<section id="intro">
  <h2>Intro</h2>
  <p>Tim Bowman has been making and manipulating images for over 20 years, first in the darkroom, then on screens both small and large, and now, happily, back in the darkroom.</p>
</section>

<main>
<section id="projects">
	<!-- <h2>Projects</h2> -->
	{% assign sorted = site.photographs | sort: 'date' | reverse %}
	{% for item in sorted %}
		<section>
			<a href={{ item.url | relative_url }}>
			{% if item.photograph %}
				<img src=/assets/photographs/{{ item.path | split: "/" | last | split: "." | first }}/{{ item.photograph }} alt="{{ item.title }}" />
			{% elsif item.gallery %}
				<img src=/assets/photographs/{{ item.path | split: "/" | last | split: "." | first }}/{{ item.gallery[0] }} alt="{{ item.title }}" />
			{% else %}
				<h2>{{ item.title }}</h2>
			{% endif %}
			</a>
		</section>
	{% endfor %}
</section>
</main>
