<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

{% include nav.html %}


<main>
<a id="content"></a>


<section id="project" itemscope itemtype="http://schema.org/Photograph">

	{% if page.photograph %}
	<img src=/assets/photographs/{{ page.path | split: "/" | last | split: "." | first }}/{{ page.photograph }} alt="{{ page.title }}" />
	{% elsif page.gallery %}
		{% for photograph in page.gallery %}
			<img src=/assets/photographs/{{ page.path | split: "/" | last | split: "." | first }}/{{ photograph }} alt="{{ page.title }}" />	
		{% endfor %}
	{% endif %}
	<!-- <h2 itemprop="name">{{ page.title }}</h2> -->
	<div itemprop="description">{{ page.content }}</div>

</section>

</main>

{% include social-media.html %}

{% include footer.html %}

<div class="textOnly"><a href="#top" title="Go back to the top">You have reached the bottom of the page, click here to go back to the top</a></div>

{% include analytics.html %}

</body>
</html>
