---
layout: default
---

<main>

<section id="project" itemscope itemtype="http://schema.org/Photograph">

	{% if page.photograph %}
	<img src=/assets/photographs/{{ page.path | split: "/" | last | split: "." | first }}/{{ page.photograph }} alt="{{ page.title }}" />
	{% elsif page.gallery %}
		{% for photograph in page.gallery %}
			<img src=/assets/photographs/{{ page.path | split: "/" | last | split: "." | first }}/{{ photograph }} alt="{{ page.title }}" />	
		{% endfor %}
	{% endif %}
	<!-- <h2 itemprop="name">{{ page.title }}</h2> -->
	<div itemprop="description">{{ page.content }}</div>

</section>

</main>
